<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [1]:
# Import - using the common alias - panel data
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [7]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
df = pd.read_csv('data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [8]:
# Let's check this variable out
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# What type is this variable?
type(df)

pandas.core.frame.DataFrame

In [10]:
type(df['age'])

pandas.core.series.Series

In [11]:
df['age']

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [12]:
#can change type  back to data frame
df[['age']]

     age
0     63
1     37
2     41
3     56
4     57
..   ...
298   57
299   45
300   68
301   57
302   57

[303 rows x 1 columns]

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [13]:
# Let's grab just one column
df['age']

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [15]:
# Grab the same column as an attribute
df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [16]:
# What type is the column?
type(df['age'])

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [17]:
# Check out the dataframe index
df.index

RangeIndex(start=0, stop=303, step=1)

In [18]:
# Check out the series index
df.age.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [19]:
# Check out the dataframe columns
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [20]:
# Now try with the series
df.age.columns

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [21]:
# Check out the dataframe values also works for series
df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [22]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [25]:
df.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

### `.tail()` : last 5 rows

In [23]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [27]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [29]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [30]:
df.age.dtypes

dtype('int64')

### `.shape` : number of rows and columns

In [31]:
df.shape #rows, columns

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [33]:
# Calculate the mean - for the whole dataframe! # min 
df['age'].mean()df['age'].std()

9.082100989837857

In [34]:
df['age'].std()

9.082100989837857

Let's pause and interpret - any observations?

-

In [36]:
# Now min
df['age'].min()

29

In [37]:
# And max
df['age'].max()

77

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [44]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
intakes_url

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A665644,NaN,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
1,A665739,*Alana,2013-10-22T11:11:00.000,2013-10-22T11:11:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black
2,A665763,NaN,2013-10-22T15:10:00.000,2013-10-22T15:10:00.000,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Cairn Terrier Mix,Tan/White
3,A379998,Disciple,2013-10-23T11:42:00.000,2013-10-23T11:42:00.000,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,Pit Bull,Black
4,A634503,Otter,2013-10-01T14:49:00.000,2013-10-01T14:49:00.000,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan
...,...,...,...,...,...,...,...,...,...,...,...,...
995,A664268,*Kochka,2013-10-01T12:05:00.000,2013-10-01T12:05:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,3 years,Russian Blue Mix,Blue
996,A656696,*Angel,2013-10-13T12:52:00.000,2013-10-13T12:52:00.000,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Brown Tabby
997,A665285,Tabby,2013-10-15T18:19:00.000,2013-10-15T18:19:00.000,4807 Airport Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,5 months,Domestic Shorthair Mix,Torbie
998,A665185,*Vince,2013-10-14T18:32:00.000,2013-10-14T18:32:00.000,Hwy 183/Burnet Rd in Austin (TX),Stray,Normal,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby/White
999,A665572,NaN,2013-10-19T14:09:00.000,2013-10-19T14:09:00.000,900 Broken Feather Trl in Pflugerville (TX),Stray,Normal,Dog,Intact Male,1 year,Great Pyrenees Mix,White

In [45]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intakes_url.shape

(1000, 12)

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!

In [46]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
intakes_url = pd.read_csv('data/Austin_Animal_Center_intakes-clean-year.csv')

In [47]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
intakes_url.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [48]:
# Check the last 5 rows
intakes_url.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [50]:
# Check the shape
intakes_url.shape

(136763, 12)

In [51]:
# Check the datatypes
intakes_url.info

<bound method DataFrame.info of        Animal ID     Name             DateTime  Year  \
0        A786884   *Brock  2019-01-03 16:19:00  2019
1        A706918    Belle  2015-07-05 12:59:00  2015
2        A724273  Runster  2016-04-14 18:43:00  2016
3        A665644      NaN  2013-10-21 07:59:00  2013
4        A682524      Rio  2014-06-29 10:38:00  2014
...          ...      ...                  ...   ...
136758   A852238  A852238  2022-02-28 14:02:00  2022
136759   A852221     Coco  2022-02-28 11:05:00  2022
136760   A851977    *Jack  2022-02-22 13:34:00  2022
136761   A852127    Sonic  2022-02-25 13:05:00  2022
136762   A852194    Queen  2022-02-27 13:44:00  2022

                                    Found Location Intake Type  \
0              2501 Magin Meadow Dr in Austin (TX)       Stray
1                 9409 Bluegrass Dr in Austin (TX)       Stray
2               2818 Palomino Trail in Austin (TX)       Stray
3                                      Austin (TX)       Stray
4                    800 Grove Blvd in Austin (TX)       Stray
...                                            ...         ...
136758  Cameron And Crosspark Drive in Austin (TX)       Stray
136759                   45 And 183 in Travis (TX)       Stray
136760        1200 Montopolis Drive in Austin (TX)       Stray
136761      7601 Daffan Ln Unit 424 in Austin (TX)       Stray
136762            8071 N Lamar Blvd in Austin (TX)       Stray

       Intake Condition Animal Type Sex upon Intake Age upon Intake  \
0                Normal         Dog   Neutered Male         2 years
1                Normal         Dog   Spayed Female         8 years
2                Normal         Dog     Intact Male       11 months
3                  Sick         Cat   Intact Female         4 weeks
4                Normal         Dog   Neutered Male         4 years
...                 ...         ...             ...             ...
136758           Normal         Dog   Intact Female        6 months
136759           Normal         Dog     Intact Male         3 years
136760           Normal         Dog     Intact Male         2 years
136761           Normal         Dog     Intact Male         2 years
136762           Normal         Dog   Intact Female        4 months

                                        Breed         Color
0                                  Beagle Mix      Tricolor
1                    English Springer Spaniel   White/Liver
2                                 Basenji Mix   Sable/White
3                      Domestic Shorthair Mix        Calico
4       Doberman Pinsch/Australian Cattle Dog      Tan/Gray
...                                       ...           ...
136758                 Labrador Retriever Mix   Black/White
136759                         Great Pyrenees         White
136760          Chihuahua Shorthair/Dachshund   Black/White
136761                           Pit Bull Mix  White/Yellow
136762                             Cane Corso    Blue Cream

[136763 rows x 12 columns]>

In [52]:
# or
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [53]:
# Check more general information on the dataframe
intakes_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [54]:
# Check summary/descriptive statistics on the dataframe
intakes_url.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [59]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [69]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row, orient = 'index').T
new_animal

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,February 2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [71]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True. axis = 1 and axis = 0 will add it in a different way
pd.concat([intakes_url, new_animal], ignore_index = True)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

In [ ]:
# Let's check the end to make sure we were successful!

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [74]:
# Create a new column, 'test', where every value in the col is 0
intakes_url['test'] = 0

In [ ]:
# Sanity check

But we don't need that - let's drop that column.

In [75]:
# Drop that test column
intakes_url.drop(columns = ['test', 'Color'], inplace = True)

In [76]:
# Sanity check
intakes_url

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog
...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [82]:
# Create a new column, 'Type', from the two 'Type' columns
intakes_url['type'] = intakes_url['Intake Type'] + " "+ intakes_url['Animal Type']
intakes_url['Year Plus 5'] = intakes_url['Year'] + 5

In [83]:
# Sanity check
intakes_url

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Stray Dog,2024
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,Stray Dog,2020
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Stray Dog,2021
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Stray Cat,2018
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Stray Dog,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Stray Dog,2027
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,Stray Dog,2027
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Stray Dog,2027
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,Stray Dog,2027
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Stray Dog,2027

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [85]:
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
type                object
Year Plus 5          int64
dtype: object

In [86]:
# What type is the DateTime column now?
pd.to_datetime(intakes_url['Year'])

0        1970-01-01 00:00:00.000002019
1        1970-01-01 00:00:00.000002015
2        1970-01-01 00:00:00.000002016
3        1970-01-01 00:00:00.000002013
4        1970-01-01 00:00:00.000002014
                      ...
136758   1970-01-01 00:00:00.000002022
136759   1970-01-01 00:00:00.000002022
136760   1970-01-01 00:00:00.000002022
136761   1970-01-01 00:00:00.000002022
136762   1970-01-01 00:00:00.000002022
Name: Year, Length: 136763, dtype: datetime64[ns]

In [87]:
intakes_url['Year'] = pd.to_datetime(intakes_url['Year'])

In [ ]:
# Let's make that a datetime datatype

In [ ]:
# Sanity check

In [88]:
# Now we can access parts of a datetime object using .dt - an attribute! year, day, dayofweek, month
intakes_url['Year'].dt.year

0         1970
1         1970
2         1970
3         1970
4         1970
          ...
136758    1970
136759    1970
136760    1970
136761    1970
136762    1970
Name: Year, Length: 136763, dtype: int64

In [89]:
# Make that into a new column
intakes_url['Day of Week'] =intakes_url['Year'].dt.dayofweek

In [90]:
# Sanity check
intakes_url

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Stray Dog,2024,3
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,Stray Dog,2020,3
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Stray Dog,2021,3
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Stray Cat,2018,3
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Stray Dog,2019,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,1970-01-01 00:00:00.000002022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Stray Dog,2027,3
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,Stray Dog,2027,3
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Stray Dog,2027,3
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,Stray Dog,2027,3
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Stray Dog,2027,3

In [93]:
intakes_url['Intake Year'] = pd.to_datetime(intakes_url['DateTime']) # , format = 'mixed' if data is mixed and error is thrown
intakes_url

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Stray Dog,2024,3,2019-01-03 16:19:00
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,Stray Dog,2020,3,2015-07-05 12:59:00
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Stray Dog,2021,3,2016-04-14 18:43:00
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Stray Cat,2018,3,2013-10-21 07:59:00
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Stray Dog,2019,3,2014-06-29 10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,1970-01-01 00:00:00.000002022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Stray Dog,2027,3,2022-02-28 14:02:00
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,Stray Dog,2027,3,2022-02-28 11:05:00
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Stray Dog,2027,3,2022-02-22 13:34:00
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,Stray Dog,2027,3,2022-02-25 13:05:00
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Stray Dog,2027,3,2022-02-27 13:44:00

In [98]:
intakes_url['Year of Intake'] = intakes_url['Intake Year'].dt.year
intakes_url['Year of Intake']

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
136758    2022
136759    2022
136760    2022
136761    2022
136762    2022
Name: Year of Intake, Length: 136763, dtype: int64

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [ ]:
#df.loc[rows, columns]
#df.iloc[rows, columns]

In [99]:
# Check which rows have an intake year greater than or equal to 2020
intakes_url.loc[intakes_url['Year of Intake'] >= 2020]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
7,A844350,*Ella,2021-10-15 11:40:00,1970-01-01 00:00:00.000002021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Stray Cat,2026,3,2021-10-15 11:40:00,2021
9,A818975,NaN,2020-06-18 14:53:00,1970-01-01 00:00:00.000002020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Stray Cat,2025,3,2020-06-18 14:53:00,2020
22,A831808,NaN,2021-04-02 11:16:00,1970-01-01 00:00:00.000002021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Owner Surrender Cat,2026,3,2021-04-02 11:16:00,2021
24,A836850,NaN,2021-06-15 12:37:00,1970-01-01 00:00:00.000002021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Public Assist Dog,2026,3,2021-06-15 12:37:00,2021
26,A815227,Baby,2020-03-12 13:52:00,1970-01-01 00:00:00.000002020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Stray Dog,2025,3,2020-03-12 13:52:00,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,1970-01-01 00:00:00.000002022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Stray Dog,2027,3,2022-02-28 14:02:00,2022
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,Stray Dog,2027,3,2022-02-28 11:05:00,2022
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Stray Dog,2027,3,2022-02-22 13:34:00,2022
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,Stray Dog,2027,3,2022-02-25 13:05:00,2022
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Stray Dog,2027,3,2022-02-27 13:44:00,2022

In [101]:
intakes_url.loc[intakes_url['Intake Type'] == 'Stray', :]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Stray Dog,2024,3,2019-01-03 16:19:00,2019
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,Stray Dog,2020,3,2015-07-05 12:59:00,2015
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Stray Dog,2021,3,2016-04-14 18:43:00,2016
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Stray Cat,2018,3,2013-10-21 07:59:00,2013
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Stray Dog,2019,3,2014-06-29 10:38:00,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,1970-01-01 00:00:00.000002022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Stray Dog,2027,3,2022-02-28 14:02:00,2022
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,Stray Dog,2027,3,2022-02-28 11:05:00,2022
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Stray Dog,2027,3,2022-02-22 13:34:00,2022
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,Stray Dog,2027,3,2022-02-25 13:05:00,2022
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Stray Dog,2027,3,2022-02-27 13:44:00,2022

In [104]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
intakes_url.loc[intakes_url['Year of Intake'] >= 2020, 'Animal ID']

7         A844350
9         A818975
22        A831808
24        A836850
26        A815227
           ...
136758    A852238
136759    A852221
136760    A851977
136761    A852127
136762    A852194
Name: Animal ID, Length: 23269, dtype: object

In [105]:
intakes_url['Year of Intake'] >= 2020

0         False
1         False
2         False
3         False
4         False
          ...
136758     True
136759     True
136760     True
136761     True
136762     True
Name: Year of Intake, Length: 136763, dtype: bool

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [106]:
# Create a subset dataframe of animals taken in during or after 2020
new_animals = intakes_url.loc[intakes_url['Year of Intake'] >= 2020]

In [108]:
# Sanity check
new_animals.shape

(23269, 16)

We can return only certain columns when we do this, by adding an argument after the condition:

In [117]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
intakes_url.loc[intakes_url['Year of Intake'] >= 2020][['Name']]

           Name
7         *Ella
9           NaN
22          NaN
24          NaN
26         Baby
...         ...
136758  A852238
136759     Coco
136760    *Jack
136761    Sonic
136762    Queen

[23269 rows x 1 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [120]:
# Find all the Stray Cats taken in during or after 2020
intakes_url.loc[(intakes_url['Intake Type'] == 'Stray') & (intakes_url['Year of Intake'] == 2020)]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
9,A818975,NaN,2020-06-18 14:53:00,1970-01-01 00:00:00.000002020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Stray Cat,2025,3,2020-06-18 14:53:00,2020
26,A815227,Baby,2020-03-12 13:52:00,1970-01-01 00:00:00.000002020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Stray Dog,2025,3,2020-03-12 13:52:00,2020
44,A821389,*Dim Sum,2020-08-10 14:10:00,1970-01-01 00:00:00.000002020,7800 San Felipe Boulevard in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Stray Cat,2025,3,2020-08-10 14:10:00,2020
71,A813757,NaN,2020-02-18 12:26:00,1970-01-01 00:00:00.000002020,Colonial Park And Weidemar in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,German Shepherd/Australian Cattle Dog,Stray Dog,2025,3,2020-02-18 12:26:00,2020
93,A827327,NaN,2020-12-18 12:50:00,1970-01-01 00:00:00.000002020,9901 Rodriguez in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Chihuahua Shorthair,Stray Dog,2025,3,2020-12-18 12:50:00,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135354,A825862,*Pickles,2020-11-14 08:36:00,1970-01-01 00:00:00.000002020,15204 Eilers Road in Travis (TX),Stray,Normal,Dog,Intact Male,8 months,Labrador Retriever Mix,Stray Dog,2025,3,2020-11-14 08:36:00,2020
135884,A821835,Bagel,2020-08-20 11:58:00,1970-01-01 00:00:00.000002020,Austin (TX),Stray,Normal,Dog,Spayed Female,4 years,Pit Bull,Stray Dog,2025,3,2020-08-20 11:58:00,2020
136202,A822372,Cutie,2020-09-01 13:04:00,1970-01-01 00:00:00.000002020,6805 Cruz Street in Austin (TX),Stray,Nursing,Dog,Intact Female,2 years,Dachshund Wirehair Mix,Stray Dog,2025,3,2020-09-01 13:04:00,2020
136281,A822250,Paco,2020-08-28 15:41:00,1970-01-01 00:00:00.000002020,12819 Hymeadow Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Labrador Retriever Mix,Stray Dog,2025,3,2020-08-28 15:41:00,2020
136355,A814134,C'Lo,2020-04-13 19:27:00,1970-01-01 00:00:00.000002020,Little Pebble in Austin (TX),Stray,Injured,Dog,Neutered Male,1 year,Pit Bull Mix,Stray Dog,2025,3,2020-04-13 19:27:00,2020

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [123]:
# Your code here
intakes_url.loc[(intakes_url['Intake Condition'] != 'Normal')]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Stray Cat,2018,3,2013-10-21 07:59:00,2013
10,A774147,NaN,2018-06-11 07:45:00,1970-01-01 00:00:00.000002018,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Stray Cat,2023,3,2018-06-11 07:45:00,2018
16,A743114,NaN,2017-02-04 10:10:00,1970-01-01 00:00:00.000002017,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair Mix,Stray Cat,2022,3,2017-02-04 10:10:00,2017
24,A836850,NaN,2021-06-15 12:37:00,1970-01-01 00:00:00.000002021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Public Assist Dog,2026,3,2021-06-15 12:37:00,2021
38,A794334,Pearl,2019-09-02 11:52:00,1970-01-01 00:00:00.000002019,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,Owner Surrender Dog,2024,3,2019-09-02 11:52:00,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136728,A852084,*Maple Syrup,2022-02-24 13:29:00,1970-01-01 00:00:00.000002022,6911 Bennett Ave in Austin (TX),Stray,Injured,Dog,Intact Female,2 months,Labrador Retriever Mix,Stray Dog,2027,3,2022-02-24 13:29:00,2022
136730,A852207,NaN,2022-02-28 07:16:00,1970-01-01 00:00:00.000002022,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Cat,Intact Male,2 weeks,Domestic Shorthair,Owner Surrender Cat,2027,3,2022-02-28 07:16:00,2022
136733,A852038,*Minkus,2022-02-23 15:01:00,1970-01-01 00:00:00.000002022,3403 E 5Th St in Austin (TX),Stray,Injured,Cat,Neutered Male,11 months,Domestic Shorthair,Stray Cat,2027,3,2022-02-23 15:01:00,2022
136742,A850725,Monty,2022-01-30 14:32:00,1970-01-01 00:00:00.000002022,14100 Thermal Dr in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Labrador Retriever,Stray Dog,2027,3,2022-01-30 14:32:00,2022
136754,A852234,NaN,2022-02-28 12:33:00,1970-01-01 00:00:00.000002022,305 E Lola Lane in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair,Stray Cat,2027,3,2022-02-28 12:33:00,2022

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [127]:
# Your code here
intakes_url.loc[(intakes_url['Sex upon Intake'] == 'Intact Male') | (intakes_url['Sex upon Intake'] == 'Intact Female')]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Stray Dog,2021,3,2016-04-14 18:43:00,2016
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Stray Cat,2018,3,2013-10-21 07:59:00,2013
7,A844350,*Ella,2021-10-15 11:40:00,1970-01-01 00:00:00.000002021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Stray Cat,2026,3,2021-10-15 11:40:00,2021
8,A708452,Mumble,2015-07-30 14:37:00,1970-01-01 00:00:00.000002015,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Public Assist Dog,2020,3,2015-07-30 14:37:00,2015
9,A818975,NaN,2020-06-18 14:53:00,1970-01-01 00:00:00.000002020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Stray Cat,2025,3,2020-06-18 14:53:00,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,1970-01-01 00:00:00.000002022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Stray Dog,2027,3,2022-02-28 14:02:00,2022
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,Stray Dog,2027,3,2022-02-28 11:05:00,2022
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Stray Dog,2027,3,2022-02-22 13:34:00,2022
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,Stray Dog,2027,3,2022-02-25 13:05:00,2022
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Stray Dog,2027,3,2022-02-27 13:44:00,2022

## `.iloc`

In [131]:
intakes_url.iloc[2:5,13:18]

   Day of Week         Intake Year  Year of Intake
2            3 2016-04-14 18:43:00            2016
3            3 2013-10-21 07:59:00            2013
4            3 2014-06-29 10:38:00            2014

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [132]:
# Find the first 3 rows
intakes_url.iloc[:3,:]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Stray Dog,2024,3,2019-01-03 16:19:00,2019
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,Stray Dog,2020,3,2015-07-05 12:59:00,2015
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Stray Dog,2021,3,2016-04-14 18:43:00,2016

In [134]:
# Same as using head(3)
intakes_url.head(3)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Stray Dog,2024,3,2019-01-03 16:19:00,2019
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,Stray Dog,2020,3,2015-07-05 12:59:00,2015
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Stray Dog,2021,3,2016-04-14 18:43:00,2016

In [138]:
# Can look exactly where the 0 index is
intakes_url.head(0)

Empty DataFrame
Columns: [Animal ID, Name, DateTime, Year, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, type, Year Plus 5, Day of Week, Intake Year, Year of Intake]
Index: []

In [139]:
# But what about our subset dataframe above? It doesn't have an index 0

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [140]:
# Check the value counts for Animal Type
intakes_url['Animal Type'].value_counts()

Dog          77098
Cat          51752
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [141]:
intakes_url['Animal Type'].value_counts()

AttributeError: 'Series' object has no attribute 'boxplot'

In [142]:
# Now check Breed
intakes_url['Breed'].value_counts()

Domestic Shorthair Mix          32034
Domestic Shorthair              10440
Pit Bull Mix                     8913
Labrador Retriever Mix           7370
Chihuahua Shorthair Mix          6486
                                ...
Deer Mix                            1
Collie Smooth/Siberian Husky        1
English Coonhound/Beagle            1
Lhasa Apso/Standard Poodle          1
Potbelly Pig                        1
Name: Breed, Length: 2734, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [143]:
# Use the normalize argument to view as percentages
intakes_url.loc[intakes_url['Animal Type'] == 'Cat']['Breed'].value_counts(normalize = True)

Domestic Shorthair Mix                     0.618991
Domestic Shorthair                         0.201731
Domestic Medium Hair Mix                   0.062123
Domestic Longhair Mix                      0.030530
Siamese Mix                                0.025989
                                             ...
Angora/Persian                             0.000019
Snowshoe/Domestic Shorthair                0.000019
Oriental Sh                                0.000019
Domestic Shorthair/Domestic Medium Hair    0.000019
American Curl Shorthair/Siamese            0.000019
Name: Breed, Length: 103, dtype: float64

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [145]:
# Let's sort the year column
intakes_url['Year of Intake'].sort_values(ascending = False)

136762    2022
135566    2022
135553    2022
135554    2022
135555    2022
          ...
118202    2013
82804     2013
74446     2013
31112     2013
13061     2013
Name: Year of Intake, Length: 136763, dtype: int64

In [146]:
intakes_url.sort_values(by = 'Year of Intake', ascending = False)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,type,Year Plus 5,Day of Week,Intake Year,Year of Intake
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Stray Dog,2027,3,2022-02-27 13:44:00,2022
135587,A849913,*Lizzy,2022-01-15 10:44:00,1970-01-01 00:00:00.000002022,7405 Grenadine Bloom Bend in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,American Foxhound,Stray Dog,2027,3,2022-01-15 10:44:00,2022
135572,A850499,Reeses,2022-01-25 16:29:00,1970-01-01 00:00:00.000002022,14200 North Ih 35 in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Australian Cattle Dog Mix,Stray Dog,2027,3,2022-01-25 16:29:00,2022
135573,A850241,*Raven,2022-01-20 17:46:00,1970-01-01 00:00:00.000002022,7810 Old Bee Caves Road in Austin (TX),Stray,Injured,Dog,Intact Female,4 months,Labrador Retriever,Stray Dog,2027,3,2022-01-20 17:46:00,2022
135575,A850500,Bear,2022-01-25 16:29:00,1970-01-01 00:00:00.000002022,14200 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Labrador Retriever Mix,Stray Dog,2027,3,2022-01-25 16:29:00,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124294,A668263,NaN,2013-12-01 00:00:00,1970-01-01 00:00:00.000002013,2801 E. Wells Branch in Travis (TX),Wildlife,Normal,Other,Unknown,6 months,Bat Mix,Wildlife Other,2018,3,2013-12-01 00:00:00,2013
90281,A667998,*Ginger,2013-11-26 12:10:00,1970-01-01 00:00:00.000002013,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,4 years,Pit Bull Mix,Owner Surrender Dog,2018,3,2013-11-26 12:10:00,2013
49519,A669182,Hunter,2013-12-16 16:24:00,1970-01-01 00:00:00.000002013,Pflugerville (TX),Owner Surrender,Normal,Dog,Intact Male,1 month,Labrador Retriever Mix,Owner Surrender Dog,2018,3,2013-12-16 16:24:00,2013
80137,A666629,*Lambchop,2013-11-04 18:44:00,1970-01-01 00:00:00.000002013,21906 Silvia Dr in Travis (TX),Stray,Normal,Dog,Intact Male,2 years,Australian Cattle Dog Mix,Stray Dog,2018,3,2013-11-04 18:44:00,2013
113072,A653346,NaN,2013-10-24 13:17:00,1970-01-01 00:00:00.000002013,13512 Mizzen in Manor (TX),Stray,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Stray Cat,2018,3,2013-10-24 13:17:00,2013

In [ ]:
# Now, sort the Animal Type col

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.